<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eno.baozi.wenjuan.dao.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.eno.baozi.wenjuan.domain.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="main_no" property="mainNo" jdbcType="INTEGER" />
    <result column="sub_no" property="subNo" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="choice" property="choice" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, main_no, sub_no, title, choice, type, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByMainNoAndSubNo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from question
    where main_no = #{mainNo,jdbcType=INTEGER}
    order by sub_no asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.eno.baozi.wenjuan.domain.Question" >
    insert into question (id, main_no, sub_no,
      title, choice, type,
      create_time)
    values (#{id,jdbcType=INTEGER}, #{mainNo,jdbcType=INTEGER}, #{subNo,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{choice,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eno.baozi.wenjuan.domain.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mainNo != null" >
        main_no,
      </if>
      <if test="subNo != null" >
        sub_no,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="choice != null" >
        choice,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mainNo != null" >
        #{mainNo,jdbcType=INTEGER},
      </if>
      <if test="subNo != null" >
        #{subNo,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="choice != null" >
        #{choice,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eno.baozi.wenjuan.domain.Question" >
    update question
    <set >
      <if test="mainNo != null" >
        main_no = #{mainNo,jdbcType=INTEGER},
      </if>
      <if test="subNo != null" >
        sub_no = #{subNo,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="choice != null" >
        choice = #{choice,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eno.baozi.wenjuan.domain.Question" >
    update question
    set main_no = #{mainNo,jdbcType=INTEGER},
      sub_no = #{subNo,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      choice = #{choice,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
